section img{
	width: 100%;
	margin-bottom : 15px;
}
#teaser1 a{
	lost-column: 1/3;
}
#teaser2 a{
	lost-column: 1/2;
}
@media (max-width: 768px) {
  #teaser1 a, #teaser2 a {
    lost-column: 1/1;
  }
}

.brands{
	text-align: center;
	lost-column: 4/6;
	lost-offset: 1/6;
	&__name{
		border-bottom: 1px solid #d7d7d7;
		padding-bottom: 7px;
		margin-bottom: 5px;
		font-size: 18px;
		color: #6b6b6b;
		text-transform: uppercase;
	}
	&__read-more{
		font-style: italic;
		text-transform: none!important;
		line-height: 1.4;
		font-size: 18px;
		color: #6b6b6b;
		text-transform: uppercase;
		&:hover{
			text-decoration: none;
			color: #6b6b6b;
		}
	}
	article a{
		lost-column: 1/4;
		&:first-of-type{
			lost-offset: 1/4;	
		}
		@media (max-width: 768px) {
			lost-column: 1/2;
			&:first-of-type{
				lost-offset: 0;	
			}
		}
	}
}